{% extends "master.html" %}
{% block content %} 

<style>
  
  .contact-form {
      margin-top: 50px;
  }
  .contact-info {
      margin-bottom: 50px;
  }
</style>

<div class="container contact-form">
  <div class="row">
      <div class="col-md-6 contact-info">
          <h2>Contact Information</h2>
          <p>Feel free to contact us with any questions or concerns. We are here to help!</p>
          <ul class="list-unstyled">
              <li><strong>Email:</strong> supersite123@gmail.com</li>
              <li><strong>Phone:</strong> 9575230912</li>
              <li><strong>Address:</strong> Shopping Street, kannur, kerala</li>
          </ul>
      </div>
    </div>
    </div>
    


{% endblock %}